<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--Values are in BGR not in RGB-->
  <!--Bodycolor for JoyCon-->
  <bodycolors>
    <bodycolors_v key="CustomColor" value="828282" />
    <bodycolors_v key="CustomColor" value="E6B90A" />
    <bodycolors_v key="CustomColor" value="283CFF" />
    <bodycolors_v key="CustomColor" value="FFE6" />
    <bodycolors_v key="CustomColor" value="7832FF" />
    <bodycolors_v key="CustomColor" value="DC1E" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
    <bodycolors_v key="CustomColor" value="FFFFFF" />
  </bodycolors>
  <!--Body color for Pro Controller-->
  <bodycolors_pro>
    <bodycolors_pro_v key="CustomColor" value="323232" />
    <bodycolors_pro_v key="CustomColor" value="323231" />
    <bodycolors_pro_v key="CustomColor" value="828282" />
    <bodycolors_pro_v key="CustomColor" value="E6B90A" />
    <bodycolors_pro_v key="CustomColor" value="283CFF" />
    <bodycolors_pro_v key="CustomColor" value="FFE6" />
    <bodycolors_pro_v key="CustomColor" value="7832FF" />
    <bodycolors_pro_v key="CustomColor" value="DC1E" />
    <bodycolors_pro_v key="CustomColor" value="FFFFFF" />
    <bodycolors_pro_v key="CustomColor" value="FFFFFF" />
    <bodycolors_pro_v key="CustomColor" value="FFFFFF" />
    <bodycolors_pro_v key="CustomColor" value="FFFFFF" />
    <bodycolors_pro_v key="CustomColor" value="FFFFFF" />
    <bodycolors_pro_v key="CustomColor" value="FFFFFF" />
    <bodycolors_pro_v key="CustomColor" value="FFFFFF" />
    <bodycolors_pro_v key="CustomColor" value="FFFFFF" />
  </bodycolors_pro>
  <!--Button color for Pro Controller-->
  <buttoncolors>
    <buttoncolors_v key="CustomColor" value="F0F0F" />
    <buttoncolors_v key="CustomColor" value="1E1E00" />
    <buttoncolors_v key="CustomColor" value="A0A1E" />
    <buttoncolors_v key="CustomColor" value="2814" />
    <buttoncolors_v key="CustomColor" value="1E0028" />
    <buttoncolors_v key="CustomColor" value="2800" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
    <buttoncolors_v key="CustomColor" value="FFFFFF" />
  </buttoncolors>
</configuration>